{% extends 'account/main.html'%}

{% block content %}

    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer: </h5>
                <hr>
                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'update_customer' customer.id %}">Update Customer</a>
                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place Order</a>
                <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'delete_customer' customer.id %}">Delete Customer</a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Customer Information</h5>
                <hr>
                <p>First name: {{customer.first_name}}</p>
                <p>Last name: {{customer.last_name}}</p>
                <p>Email: {{customer.email}}</p>
                <p>Phone: {{customer.phone}}</p>
                </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center; padding: 10px">{{total_orders}}</h1>
                </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <form method="get">
                    <div class="form-group mb-3">
                        <label for="{{ myFilter.form.start_date.id_for_label }}">Start Date:</label>
                        {{ myFilter.form.start_date }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="{{ myFilter.form.end_date.id_for_label }}">End Date:</label>
                        {{ myFilter.form.end_date }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="{{ myFilter.form.note.id_for_label }}">Note:</label>
                        {{ myFilter.form.note }}
                    </div>
                    {# Render other fields if any #}
                    {% for field in myFilter.form %}
                        {% if field.name != 'start_date' and field.name != 'end_date' and field.name != 'note' %}
                            <div class="form-group mb-3">
                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Note</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Status</th>
                            <th scope="col">Price</th>
                            <th scope="col">Update</th>
                            <th scope="col">Remove</th>
                        </tr>

                        {% for order in orders %}
                            <tr>
                                <td>{{order.product}}</td>
                                <td>{{order.note}}</td>
                                <td>{{order.date_created}}</td>
                                <td>{{order.status}}</td>
                                <td>{{order.product.price}}</td>
                                <td><a href="{% url 'update_order' order.id %}"  class="btn btn-sm btn-info">Update</a></td>
                                <td><a href="{% url 'delete_order' order.id %}"  class="btn btn-sm btn-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div>

    
{% endblock %}
        